player-connection-mode=Listen
player-connection-guid=3195143209
player-connection-debug=1
player-connection-project-name=LibreMetaverse_IntegrationTest
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.170
player-connection-ip=192.168.58.1
player-connection-ip=192.168.125.1
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
